<html>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>  

<body ng-app="myapp" >
<div ng-controller="MyController" >
    <form>
        <select multiple="true" ng-model="myForm.car"
                ng-options="obj.id as obj.name for obj in myForm.options">
        </select>
    </form>

    <div>
        {{myForm.car}}
    </div>
</div>


<div ng-controller="MyController2" >
  <form>
    <input type="text" id="name" ng-model="myForm.name" ng-minlength="5" ng-maxlength="12"> Name <br/>

    <select ng-model="myForm.car">
      <option value="nissan">Nissan</option>
      <option value="toyota">Toyota</option>
      <option value="fiat">Fiat</option>
    </select>

    <button ng-click="myForm.submitTheForm()">Submit Form</button>
  </form>

  <div>
    {{myForm.name}}
  </div>
  <div>
    {{myForm.car}}
  </div>
</div>

<br/>
<br/><br/>
<div ng-controller="MyController3" >
  <form ng-submit="myForm.submitTheForm()">
    <input type="text" id="name" ng-model="myForm.name" ng-minlength="5" ng-maxlength="12"> Name <br/>

    <select ng-model="myForm.car">
      <option value="nissan">Nissan</option>
      <option value="toyota">Toyota</option>
      <option value="fiat">Fiat</option>
    </select>

    <input type="submit" value="Submit Form">

  </form>

  <div>
    {{myForm.name}}
  </div>
  <div>
    {{myForm.car}}
  </div>
</div>

</body>
<script>
var app = angular.module("myapp", [])
app.controller("MyController", function($scope) {
    $scope.myForm = {};
    $scope.myForm.car  = ["nissan"];

    $scope.myForm.options = [
      { id : "nissan", name: "Nissan" }
     ,{ id : "toyota", name: "Toyota" }
     ,{ id : "fiat"  , name: "Fiat" }
     ];

} );

app.controller("MyController2", function($scope, $http) {
    $scope.myForm = {};
    $scope.myForm.name = "Jakob Jenkov";
    $scope.myForm.car  = "nissan";

  $scope.myForm.submitTheForm = function(item, event) {
    console.log("--> Submitting form");
    var dataObject = {
       name : $scope.myForm.name
       ,car  : $scope.myForm.car
    };

    var responsePromise = $http.post("/angularjs-examples/json-test-data.jsp", dataObject, {});
    responsePromise.success(function(dataFromServer, status, headers, config) {
       console.log(dataFromServer.title);
    });
     responsePromise.error(function(data, status, headers, config) {
       alert("Submitting form failed!");
    });
  }

});


app.controller("MyController3", function($scope, $http) {
    $scope.myForm = {};
    $scope.myForm.name = "Jakob Jenkov";
    $scope.myForm.car  = "nissan";

  $scope.myForm.submitTheForm = function(item, event) {
    console.log("--> Submitting form");
    var dataObject = {
       name : $scope.myForm.name
       ,car  : $scope.myForm.car
    };

    var responsePromise = $http.post("/angularjs-examples/json-test-data.jsp", dataObject, {});
    responsePromise.success(function(dataFromServer, status, headers, config) {
       console.log(dataFromServer.title);
    });
     responsePromise.error(function(data, status, headers, config) {
       alert("Submitting form failed!");
    });
  }

});
</script>
</html>